{
  "parser": "babel-eslint",
  "rules": {
    "react/react-in-jsx-scope": "1",
    "indent": ["error", 2],
    "no-unused-vars": 0
  },
  "env": {
       "es6": true,
       "node": true
    },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}